head {

}

title {

}

body {
    background-color: chocolate;
    font-family: serif;
    font-weight: 500;
    color:wheat;
}

#error {
    background-color: chocolate;
    font-family: serif;
    font-weight: 500;
    color:wheat;
}

